body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

html,body,#frame {
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    background-color: transparent;
    /*border: #444444 solid 1px;*/
    border: none;
    position: absolute;
    /* fix main view real left position on edge */
    left: 4px;
}

.canvas-uninitialized {
    width: 0px;
    height: 0px;
    display: none;
}

button {
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.left-margin { 
    margin-left: 1em;
}

.hidden {
    display: none !important;
}

.value {
    display: inline-block;
    /*border: #444444 solid 1px;*/
    width: 3em;
}

.short-value {
    width: 1.5em !important;
}

.long-value {
    width: 5.5em !important;
}

.maxlong-value {
    width: 11em !important;
}

.label {
    display: inline-block;
    margin-left: 0.5em;
    color: darkgrey !important;
}

.unit {
    color: yellow;
}

.channel-label {
    color: #444444 !important;;
    padding: 4px;
}

.channel-label:hover {
    opacity: 0.8;
    color: black !important;
    cursor: pointer;
}

#channels-deck {
    position: absolute;
    width: calc(100% - 120px);
}

.channel-pane {
    margin-left: 2.7em;
}

#channels_shortcuts_deck {
    display: flex;
    flex-wrap: wrap;
    grid-auto-columns: min-content;
    padding-left: 3em;
    padding-top: 0.5em;
}

#channels_shortcuts_deck > span.channel-label {
    margin-bottom: 0.5em;
}

#channels_infos_deck {
    display: grid;
    grid-template-rows: min-content;
}

#top-right-menu {
    display: block;
    position: absolute;
    top: 0px;
    left: calc(100% - 118px);
    text-align: center;
    padding: 8px;
}

.popup-pane {    
    position: absolute;
    background-color: darkblue;
    padding: 1em;
    z-index: 20;
    opacity: 0.9;
    color: white;
}

.popup-grid {
    display: grid;
}

div.opts-grid > div.popup-grid {
    margin-left: 1em;
}

.popup-title {
    position: relative;
    top: -1.35em;
    margin-bottom: -1em;
    opacity: 0.9;
    left: 1.5em;
    width: 70%;
}

.popup-close {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    left: calc(100% - 1em);
    top: -0.5em;
    margin-bottom: -1.5em;
    line-height: 1.5em;
    text-align: center;
    cursor: pointer;
}

div.opts-pane > span.unit {

}

.popup-close:hover > div.btn-red {
    cursor: pointer;
}

.popup-icon {
    position: relative;
    top: -0.5em;
    font-size: 2em;
    left: -0.25em;
    margin-bottom: -0.75em;
    opacity: 0.9;
    width: 20%;
}

.opts-grid {
    display: grid;
    grid-template-columns: min-content;
    padding-top:0.5em;
}

.opts-pane {
    display: grid;
    grid-template-columns: max-content;
    padding: 1em;
    padding-right: 0em;
    padding-bottom: 0em;
    grid-auto-rows: 2.5em;
}

.opts-list {
    background-color: #002277;
    opacity: 0.9;
    min-width: Calc(96px + 0em);
    padding: 0em;
    display: grid;
    position: relative;
    left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
}

.opt-value-edit {
    height: fit-content;
    background-color: #000055AA;
    border: black solid 2px;
    color: yellow;
    text-align: right;
    margin: 1em;
    margin-top: 0px;
    padding: 4px;
}

.opt-value-edit:focus-visible {
    background-color: #0000FFAA;
    outline: #44AAff solid 2px;
}

.opt-label {
    margin: 1em;
    margin-top: 0px;
    opacity: 0.9;
}

div.popup-grid > span.menu-item {
    margin: 0.5em;
}

.gc1 {
    grid-column: 1;
}
.gc2 {
    grid-column: 2;
}
.gc3 {
    grid-column: 3;
}
.gc4 {
    grid-column: 4;
}
.gr1 {
    grid-row: 1;
}
.gr2 {
    grid-row: 2;
}
.gr3 {
    grid-row: 3;
}
.gr4 {
    grid-row: 4;
}
.gr5 {
    grid-row: 5;
}
.gr6 {
    grid-row: 6;
}
.gr7 {
    grid-row: 7;
}
.gr8 {
    grid-row: 8;
}
.gr9 {
    grid-row: 9;
}
.gr10 {
    grid-row: 10;
}

.menu-item {
    display: inline-block;
    line-height: 3em;
    padding: 4px;
    cursor: pointer;
    width: 96px;
    text-align: center;
    opacity: 0.9;
}

.menu-item-half-height {
    line-height: 1.5em !important;
}

.menu-item-blue, .btn-blue {
    color: yellow;
    background-color: blue;
}

.menu-item-blue:hover,
.menu-item-darkblue:hover,
.menu-item-bluegreen:hover,
.menu-item-red:hover {
    border-color: black;
}

.menu-item-blue,
.menu-item-darkblue,
.menu-item-bluegreen,
.menu-item-red {
    border: none !important;
}

.menu-item-blue:hover,.btn-blue:hover {
    background-color: #44AAff;
    color: white;
}

.selected {
    background-color: darkblue !important;
    cursor: default;
}

.read-only {
    background-color: #00008BAA !important;
}

.no-pointer {
    cursor: default;
}

.btn-sub {
    cursor: pointer;
}

.btn-sub-blue:hover {
    background-color: #77CCFF;
}

.menu-item-darkblue {
    color: white;
    background-color: rgba(0, 0, 255, 0.747);
    border: skyblue solid 1px;    
}

.menu-item-darkblue:hover {
    background-color: rgb(2, 151, 243);
    color: rgb(255, 255, 255);
}

.menu-item-bluegreen,.btn-bluegreen {
    color: lightblue;
    background-color: rgb(0, 90, 97);
}

.menu-item-bluegreen:hover,.btn-bluegreen:hover {
    background-color: rgb(0, 141, 110);
    color: white;
}

.menu-item-red,.btn-red {
    color: orange;
    background-color: rgb(110, 75, 93);
}

.btn-red {
    margin-top: -1px;
}

.menu-item-red:hover,.btn-red:hover {
    background-color: rgb(167, 123, 140);
    color: white;
}

.menu-item-disabled,.menu-item-disabled:hover  {
    color: lightblue;
    background-color: #444444;
    border: skyblue solid 1px;    
    cursor: default;
}

#pop_settings {
    min-width: 512px;
}

#top-right-menu-body {
    width: 96px;
    padding: 0px;
}

.top-pane,#bottom-pane {
    line-height: 1.5em;
}

.row-pane {
    padding: 4px;
}

.row-pane:hover {
    background-color: darkblue;
}

#bottom-pane {
    top: calc(100% - 3em);
    left: 1em;
    position: absolute;
    color: darkgray;
}

#bottom-pane > span.label {
    color: #444444 !important;
}

#top-pane-1 {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: cyan;
}

#top-pane-2 {
    top: 3em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: yellow;
}

.btn-ch {

}

#vdiv,#tdiv {
    margin-left: 1em;
}