body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

html,body,#frame {
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    background-color: transparent;
    border: #444444 solid 1px;
    position: absolute;
}

.canvas-uninitialized {
    width: 0px;
    height: 0px;
    display: none;
}

button {
    vertical-align: middle;
    cursor: pointer;
}

.left-margin { 
    margin-left: 1em;
}

.hidden {
    display: none;
}

.value {
    display: inline-block;
    border: #444444 solid 1px;
    width: 3em;
}

.short-value {
    width: 1.5em !important;
}

.long-value {
    width: 5.5em !important;
}

.maxlong-value {
    width: 11em !important;
}

.label {
    display: inline-block;
    margin-left: 0.5em;
    color: darkgrey !important;
}

.channel-label {
    color: black;
    font-weight: bold;
    padding: 4px;
}

#top-right-menu {
    display: block;
    position: absolute;
    top: 0px;
    left: calc(100% - 120px);
    text-align: center;
    padding: 8px;
}

.menu-item {
    display: inline-block;
    line-height: 1.5em;
    padding: 4px;
    cursor: pointer;
    width: 96px;
    text-align: center;
    opacity: 0.9;
}

.menu-item-double-height {
    line-height: 3em !important;
}

.menu-item-blue {
    color: lightblue;
    background-color: blue;
    border: skyblue solid 1px;    
}

.menu-item-blue:hover {
    background-color: lightskyblue;
    border-color: blue;
    color: black;
}

.menu-item-darkblue {
    color: whitesmoke;
    background-color: rgba(0, 0, 255, 0.747);
    border: skyblue solid 1px;    
}

.menu-item-darkblue:hover {
    background-color: rgb(2, 151, 243);
    border-color: blue;
    color: rgb(255, 255, 255);
}

.menu-item-bluegreen {
    color: lightblue;
    background-color: rgb(0, 90, 97);
    border: skyblue solid 1px;    
}

.menu-item-bluegreen:hover {
    background-color: rgb(0, 141, 110);
    border-color: blue;
    color: white;
}

.menu-item-red {
    color: lightblue;
    background-color: rgb(110, 75, 93);
    border: skyblue solid 1px;    
}

.menu-item-red:hover {
    background-color: rgb(167, 123, 140);
    border-color: blue;
    color: black;
}

.menu-item-disabled,.menu-item-disabled:hover  {
    color: lightblue;
    background-color: #444444;
    border: skyblue solid 1px;    
    cursor: default;
}

/*#btn_menu {
}*/

#top-right-menu-body {
    width: 96px;
    padding: 0px;
}

#top-panes {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-pane,#bottom-pane {
    line-height: 1.5em;
}

.row-pane {
    padding: 4px;
}

.row-pane:hover {
    background-color: darkblue;
}

#bottom-pane {
    top: calc(100% - 3em);
    left: 1em;
    position: absolute;
    color: darkgray;
}

#bottom-pane > span.label {
    color: #444444 !important;
}

#top-pane-1 {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: cyan;
}

#top-pane-2 {
    top: 3em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: yellow;
}

.btn_ch {
    width: 2em;
}