body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color:#000000;
    border: #444444 solid 1px;
}

.value {
    display: inline-block;
    border: #444444 solid 1px;
}

.label {
    display: inline-block;
    margin-right: 0.5em;
}

#top-pane-1 {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: cyan;
}

#top-pane-2 {
    top: 3em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: yellow;
}

#ival {
    width: 4em;
    height: 1em;
}