body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color:#000000;
    border: #444444 solid 1px;
}

.value {
    display: inline-block;
    border: #444444 solid 1px;
    width: 3em;
}

.short-value {
    width: 1.5em !important;
}

.long-value {
    width: 4.6em !important;
}

.maxlong-value {
    width: 11em !important;
}

.label {
    display: inline-block;
    margin-left: 0.5em;
    color: darkgrey !important;
}

.top-pane,#bottom-pane {
    line-height: 1.5em;
}

#bottom-pane {
    top: calc(100% - 3em);
    left: 1em;
    position: absolute;
    color: darkgray;
}

#top-pane-1 {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: cyan;
}

#top-pane-2 {
    top: 3em;
    left: 1em;
    position: absolute;
    z-index: 10;
    color: yellow;
}

.btn_pause {
    width: 2em;
}